.delete-modal {
    .ok {
        border: none;
        background-color: #e1e3e6;
        padding: 10px;
        color: white;
    }
}
.inact {
    font-weight: 500;
    font-size: 18px;
}
.notifiyttext {
    font-weight: 700;
}
